@use '../abstracts/variables' as *;

.#{$namespace}barfight {
    .v-progress-linear {
        height: 50px !important;
        background-color: #263238;
        max-width: 100%;
        &__background {
            border: 10px solid #263238;
        }
    }
    &__minibar {
        background-color: #B0BEC5;
        border-right: 2px solid #263238;
        border-left: 2px solid #263238;
        border-top: 8px solid #455A64;
        border-bottom: 8px solid #455A64;
        z-index: 999;
    }
}