@use "../abstracts/variables" as *;

.#{$namespace}character {
	border-radius: 0;
	overflow: hidden;
	position: relative;
	&:before {
		border-color: transparent #fff transparent transparent;
		border-style: solid;
		border-width: 24px 24px 0 0;
		bottom: 0;
		content: "";
		position: absolute;
		right: 0;
		top: auto;
		z-index: 1;
	}
	&--0 {
		animation: slideLeft 0.5s cubic-bezier(0.5, -0.2, 0.3, 1.2);
		&:after {
			background: linear-gradient(
				to top left,
				rgba(255, 255, 255, 0) 70%,
				rgba(255, 255, 255, 0.6) 90%,
				rgba(255, 255, 255, 1) 100%
			);
		}
	}
	&--1 {
		animation: slideRight 0.5s cubic-bezier(0.5, -0.2, 0.3, 1.2);
		&:after {
			background: linear-gradient(
				to top right,
				rgba(255, 255, 255, 0) 70%,
				rgba(255, 255, 255, 0.6) 90%,
				rgba(255, 255, 255, 1) 100%
			);
		}
	}
	&--compact {
		.#{$namespace}card {
			&:before {
				border-color: transparent white transparent transparent;
				border-style: solid;
				border-width: 12px 12px 0 0;
				bottom: 0;
				content: "";
				position: absolute;
				right: 0;
				top: auto;
				z-index: 1;
			}
		}
	}
	.v-img__img--cover {
		object-position: 0 20%;
	}
}

.#{$namespace}card {
	&__result {
		color: white;
		font-size: 48px;
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: rgba(var(--v-theme-primary), 0.9);
		width: 200%;
		height: auto;
		transform: translate(-50%, -50%);
		&__text {
			transform-origin: center;
		}
	}
}

.#{$namespace}card__badge {
	z-index: 9;
	position: absolute;
	margin: 0;
	background-color: rgba(var(--v-theme-primary), 1);
	overflow: visible;
	height: 20px;
	&--left {
		top: 0px;
		left: 0px;
		::after {
			content: "";
			position: absolute;
			right: -88%;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: rgba(var(--v-theme-primary), 1) transparent transparent
				transparent;
			border-style: solid;
			border-width: 20px 20px 0 0;
		}
	}
	&--right {
		top: 0px;
		right: 0px;
		::after {
			content: "";
			position: absolute;
			right: 110%;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: rgba(var(--v-theme-primary), 1) transparent transparent
				transparent;
			border-style: solid;
			border-width: 20px 0 0 20px;
		}
	}
	&--bottom {
		bottom: 0px;
		right: 50%;
		transform: translateX(50%);
		background-color: rgba(var(--v-theme-accent), 1);
		.v-badge__badge {
			padding: 2px 4px;
		}
		::after {
			content: "";
			position: absolute;
			right: calc(100% + 4px);
			top: 0;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: transparent rgba(var(--v-theme-accent), 1) transparent
				transparent;
			border-style: solid;
			border-width: 25px 20px 0 0;
		}
		::before {
			content: "";
			position: absolute;
			left: calc(100% + 4px);
			top: 0;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: transparent transparent transparent
				rgba(var(--v-theme-accent), 1);
			border-style: solid;
			border-width: 20px 0 0 20px;
		}
	}
	.v-badge__badge {
		background-color: transparent;
		color: white;
	}
}
