@use "../abstracts/variables" as *;
@use "sass:map";
@use "vuetify/lib/styles/settings/variables" as *;

.#{$namespace}character {
	border-radius: 0;
	overflow: hidden;
	position: relative;
	&:before {
		border-color: transparent #fff transparent transparent;
		border-style: solid;
		border-width: 24px 24px 0 0;
		bottom: 0;
		content: "";
		position: absolute;
		right: 0;
		top: auto;
		z-index: 1;
	}
	&--0 {
		&:after {
			background: linear-gradient(
				to top left,
				rgba(255, 255, 255, 0) 70%,
				rgba(255, 255, 255, 0.6) 90%,
				rgba(255, 255, 255, 1) 100%
			);
		}
	}
	&--1 {
		&:after {
			background: linear-gradient(
				to top right,
				rgba(255, 255, 255, 0) 70%,
				rgba(255, 255, 255, 0.6) 90%,
				rgba(255, 255, 255, 1) 100%
			);
		}
	}
	&--fight--0 {
		transform: perspective(500px) rotateY(10deg);
		transform-origin: center;
		animation: slideLeftPerspective 0.5s cubic-bezier(0.5, -0.2, 0.3, 1.2);
	}
	&--fight--1 {
		transform: translateX(-60px) scale(0.95) scaleY(0.8) perspective(500px)
			rotateY(-10deg);
		transform-origin: center;
		animation: slideRightPerspective 0.5s cubic-bezier(0.5, -0.2, 0.3, 1.2);
	}
	&--compact {
		.#{$namespace}card {
			&:before {
				border-color: transparent white transparent transparent;
				border-style: solid;
				border-width: 12px 12px 0 0;
				bottom: 0;
				content: "";
				position: absolute;
				right: 0;
				top: auto;
				z-index: 1;
			}
		}
	}
	.v-img__img--cover {
		object-position: 0 20%;
	}
}

.#{$namespace}card {
	&--fight {
		display: flex;
		.#{$namespace}card__img {
			width: 50%;
		}
		.#{$namespace}card__info {
			width: 50%;
			display: flex;
			position: relative;
			background-color: transparent;
			flex-direction: column;
			justify-content: space-between;
		}
		&--1 {
			flex-direction: row-reverse;
			.#{$namespace}character__stat {
				flex-direction: row-reverse;
				.v-col:first-child {
					text-align: right !important;
				}
			}
		}
	}
	&__result {
		color: white;
		font-size: 48px;
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: rgba(var(--v-theme-primary), 0.9);
		width: 200%;
		height: auto;
		transform: translate(-50%, -50%);
		&__text {
			transform-origin: center;
		}
	}

	&--darken-on-hover {
		img {
			filter: brightness(0.4);
		}
	}

	&__eye-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		color: rgba(var(--v-theme-primary), 1) !important;
	}
}

.#{$namespace}card__badge {
	z-index: 9;
	position: absolute;
	margin: 0;
	background-color: rgba(var(--v-theme-primary), 1);
	overflow: visible;
	height: 20px;
	&--left {
		top: 0px;
		left: 0px;
		::after {
			content: "";
			position: absolute;
			right: -88%;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: rgba(var(--v-theme-primary), 1) transparent transparent
				transparent;
			border-style: solid;
			border-width: 20px 20px 0 0;
		}
	}
	&--right {
		top: 0px;
		right: 0px;
		::after {
			content: "";
			position: absolute;
			right: 110%;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: rgba(var(--v-theme-primary), 1) transparent transparent
				transparent;
			border-style: solid;
			border-width: 20px 0 0 20px;
		}
	}
	&--bottom {
		bottom: 0px;
		margin-left: calc(-25% + 20px);
		background-color: rgba(var(--v-theme-accent), 1);
		.v-badge__badge {
			padding: 2px 4px;
		}
		::after {
			content: "";
			position: absolute;
			right: calc(100% + 4px);
			top: 0;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: transparent rgba(var(--v-theme-accent), 1) transparent
				transparent;
			border-style: solid;
			border-width: 25px 20px 0 0;
		}
		::before {
			content: "";
			position: absolute;
			left: calc(100% + 4px);
			top: 0;
			width: 25px;
			height: 20px;
			background-color: transparent;
			border-color: transparent transparent transparent
				rgba(var(--v-theme-accent), 1);
			border-style: solid;
			border-width: 20px 0 0 20px;
		}
	}

	.v-badge__badge {
		background-color: transparent;
		color: white;
	}
}

.#{$namespace}overlay {
	&::after {
		width: 100%;
		height: 100%;
		pointer-events: none;
		content: "";
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		opacity: 0.4;
	}
}

@media #{map.get($display-breakpoints, 'xs')} {
	.#{$namespace}card {
		&--fight {
			.#{$namespace}card__img {
				width: 100%;
			}
			.#{$namespace}card__info {
				width: 100%;
				position: absolute;
				bottom: 0;
				background-color: rgba(var(--v-theme-primary), 0.7);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
	}
	.#{$namespace}character {
		&:before {
			content: initial;
		}
		&--0 {
			transform: perspective(0) rotateY(0);
		}
		&--1 {
			transform: scale(1) scaleY(0.8) perspective(0) rotateY(0);
		}
	}
}

@media #{map.get($display-breakpoints, 'md-and-up')} {
	.#{$namespace}card {
		&--fight {
			.#{$namespace}card__img {
				width: 50%;
			}
			.#{$namespace}card__info {
				width: 50%;
				display: flex;
				position: relative;
				background-color: transparent;
				flex-direction: column;
				justify-content: space-between;
			}
		}
	}
}
