@use '../abstracts/variables' as *;

.#{$namespace}avatar-container {
  position: relative;
  transition: all 0.3s ease; // Para animar el oscurecimiento
  cursor: pointer;
}

.#{$namespace}avatar-container:hover {
  filter: brightness(70%); // Oscurecer al hacer hover
}

.#{$namespace}remove-icon {
  position: absolute;
  margin: auto;
  color: white;
  font-size: 24px;
  display: none;
}

.#{$namespace}avatar-container:hover .hb-remove-icon {
  display: block; // Mostrar la X al hacer hover
}
