@use "../abstracts/variables" as *;

.#{$namespace}avatar-container {
	position: relative;
	transition: all 0.3s ease; // Para animar el oscurecimiento
	cursor: pointer;
}

.#{$namespace}remove-icon {
	position: absolute;
	margin: auto;
	color: white;
	font-size: 24px;
	display: none;
}

.#{$namespace}avatar-container:hover .hb-remove-icon {
	display: block; // Mostrar la X al hacer hover
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	margin: auto;
	display: flex;
	filter: brightness(70%); // Oscurecer al hacer hover
}

.#{$namespace}selectedCharas {
	position: relative;
	&:before {
		position: absolute;
		content: "";
		width: 500px;
		height: 100px;
		background-color: rgba(var(--v-theme-primary), 1);
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}

.#{$namespace}app-bar {
	.v-toolbar__content {
		overflow: visible;
	}
}
