@use "../abstracts/variables" as *;

body {
	overflow: hidden;
	max-width: 100% !important;
}

.v-application__wrap {
	min-height: fit-content !important;
}

.v-pagination {
	.v-btn {
		border-radius: 50%;
	}
	.v-pagination__item--is-active {
		.v-btn__content {
			color: #fff !important;
			opacity: 1;
			z-index: 9;
		}
		.v-btn__overlay {
			background-color: rgba(var(--v-theme-primary), 1) !important;
			opacity: 1 !important;
		}
	}
}

.v-select__content .v-list {
	background-color: #f0f0f0 !important; /* Cambia el color de fondo aquí */
}

.v-card.#{$namespace}card {
	box-shadow: none;
	border-radius: 0;
	&.selected {
		background-color: rgba(var(--v-theme-surface-light), 1);
	}
	.v-card-title {
		color: #fff;
		text-transform: uppercase;
		font-size: 16px;
	}
	.v-card-subtitle {
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		text-align: left;
	}

	&:not(.hb-card--nocut)::after {
		border-color: transparent #fff transparent transparent;
		border-style: solid;
		border-width: 12px 12px 0 0;
		bottom: 0;
		content: "";
		position: absolute;
		right: 0;
		top: auto;
		z-index: 40;
	}
	.v-card--chara {
		&::after {
			content: none;
		}
		.v-card-subtitle {
			text-align: right;
		}
	}
	.v-btn {
		color: #fff;
	}
}

.v-list {
	background-color: transparent;
	.v-list-item:hover > .v-list-item__overlay {
		opacity: 0.2;
		background-color: #fff;
	}
}

a {
	color: rgba(var(--v-theme-primary), 1);
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.v-autocomplete__content {
	.v-list {
		color: white !important;
	}
}

.v-bottom-navigation {
	padding: 8px;
	height: 100px !important;
	&__content {
		padding-right: 8px;
		justify-content: end;
	}
	.v-btn {
		color: rgba(var(--v-theme-primary), 1) !important;
		background-color: white !important;
		box-shadow: 0 0 10px 0px rgba(var(--v-theme-primary), 0.3) !important;
		border-radius: 50% !important;
		width: 50px !important;
		height: 50px !important;
		margin: 0px !important;
		padding: 0px !important;
		min-width: 0px !important;
		:hover {
			color: rgba(var(--v-theme-primary), 1);
		}
		&.v-btn--variant-text {
			.v-btn__overlay {
				background: transparent !important;
			}
		}
	}
}

.v-slider-track__tick-label {
	font-size: 12px;
	margin-top: calc(var(--v-slider-track-size) / 2 + 12px) !important;
	left: 50%;
	color: rgba(var(--v-theme-primary), 0.5);
}

.v-tooltip {
	* {
		font-size: 11px !important;
	}
}
