.v-btn {
  border-radius: 12px; // Modificar los botones globalmente
  font-weight: bold;
}

.v-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); // Añadir sombras a las cards
  border-radius: 10px;
}